<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="../../favicon.ico" rel="icon">

    <title>Varun's Resume</title><!-- Bootstrap core CSS -->
    <link crossorigin="anonymous" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity=
    "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    rel="stylesheet"><!-- FontAwesome Icon Font -->
    <link href=
    "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    rel="stylesheet"><!-- LinearIcons Icon Font -->
    <link href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" rel=
    "stylesheet"><!-- Main Stylesheet -->
    <link href="../static/styles/css/style.css" rel="stylesheet"><!-- Timeline CSS -->
    <link href="../static/styles/css/timeline.css" rel="stylesheet">
</head>

<body>
    <!-- INTRO SECTION -->


    <section class="section-image">
        <div class="img-overlay"></div>
        <a href="https://github.com/varunpintu100" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
            <div class="intro">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Hi there</h5>


                        <h1>I'm Varun Ramarthi</h1>


                        <p class="intro-desc"><span>Passionate Coder</span>
                        <span class="colour-splash">•</span>
                        <span>Working Professional</span> <span class=
                        "colour-splash">•</span> <span>Backend Developer
                        </span></p>
                    </div>
                    Mobile number : 8184869442  ||  E-mail : varunpintu100@gmail.com
                    <!-- /col-md-12 -->
                </div>


                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="social">
                            <a href="http://www.twitter.com/varun_pintu_"
                            target="_blank"><i class=
                            "fa fa-twitter fa-3x"></i></a> <a href=
                            "http://www.instagram.com/varun_pintu_23" target=
                            "_blank"><i class="fa fa-instagram fa-3x"></i></a>
                            <!-- <a href="http://www.dribbble.com/izzydoesizzy" target="_blank">
                                  <i class="fa fa-dribbble fa-3x"></i>
                                </a> -->
                             <a href="https://ca.linkedin.com/in/ramarthi-varun-58932a152"
                            target="_blank"><i class=
                            "fa fa-linkedin fa-3x"></i></a>
                            <a href=
                            "http://www.github.com/varunpintu100" target=
                            "_blank"><i class="fa fa-github fa-3x"></i></a>
                        </div><!-- /social -->
                    </div><!-- /col-md-8 -->
                </div><!-- /row -->



                <div class="bottom">
                    <a href="#about">
                    <div class="mouse-icon">
                        <div class="scroll">
                        </div>
                    </div></a>
                </div>
            </div><!-- /intro -->
    </section>


    <!-- ABOUT SECTION -->
    <section class="section-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <img class="profilepic" src=../static/styles/images/profile.JPG">

                    <h2>About Me</h2>

                    <hr>


                    <p class="lead">I am a 2021 Graduate, very passionate
                    about learning new technologies, I love to code a lot
                    mostly in <span>Python, C++</span>.Currently working in
                    Tata consultancy services as <span>Associate System Engineer</span>
                    My expertise include <span>Flask, UI & API automation</span>.Working on technologies
                    with <span>Python</span> excite me the most.</p>
                </div><!-- /col-md-6 -->
            </div><!-- / row -->
        </div><!-- /container -->
    </section>
    <!-- SKILLS SECTION -->


    <section class="section-image" id="skills">
        <div class="img-overlay"></div>


        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading">
                    <h2>Skills</h2>


                    <p class="lead">Here are a few cool things about me</p>

                    <hr>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4 text-center">
                    <span class="lnr lnr-user"></span>

                    <h2>Python</h2>


                    <p>Knowledge of web frameworks like Flask etc..,
                        I even have an overview of OpenCv2,pandas and also automation using Selenium.
                        Using OpenCv2 we have created an attandance capturing system and have achived an accuracy of 87%
                    </p>
                </div>


                <div class="col-md-4 text-center">
                    <span class="lnr lnr-star"></span>

                    <h2>Automation</h2>


                    <p>For an year,I have been working on various test Frameworks and tools like
                        Selenium for UI automation , karate for API automation and also blazemeter for
                        performance Testing.Using this Knowledge, I have created a test environment which
                        reduced the manual effort from 100% to around 30% .
                    </p>
                </div>


                <div class="col-md-4 text-center">
                    <span class="lnr lnr-diamond"></span>

                    <h2>Time Management</h2>


                    <p>I have always been the one who is always slef motivated and very strict in maintaining deadlines.
                        I am always been praised for completion of assigned work in time and have been selected for kudos
                        three times a row in year.
                    </p>
                </div>
            </div> <!-- / row -->
        </div><!-- /container -->
    </section>
    <!-- TIMELINE SECTION -->


    <section class="section-primary" id="timelinesection">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading">
                    <h2>Things I've done</h2>


                    <p class="lead">Here are a few cool things about me</p>

                    <hr class="white">
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <!-- Timeline -->


                    <div id="timeline">
                        <!-- Timeline Item, copy from here to create various boxes -->


                        <div class="timeline-item">
                            <!--Icon inside the circle-->


                            <div class="timeline-icon">
                                <i class="fa fa-star"></i>
                            </div>
                            <!-- Content from timeline box and position (right or left)-->


                            <div class="timeline-content right">
                                <h2>Self-Taught skills</h2>


                                <p>Learned <span>Flask and GIT</span>,
                                    and have developed a <span>WebApp which maintains the store data and
                                    registration of the user</span> with help of <span>postgres database</span> and have delployed the same in
                                    <span>postgres</span>
                                    Currently learning <span>Webscrapping,django</span>.
                                    And intrested in learning and working with <span>AI, ML& OpenCv</span>.
                                </p>
                            </div>
                        </div>
                        <!-- /Timeline Item-->
                        <!-- Timeline Item, copy from here to create various boxes -->


                        <div class="timeline-item">
                            <!--Icon inside the circle-->


                            <div class="timeline-icon">
                                <i class="fa fa-star"></i>
                            </div>
                            <!-- Content from timeline box and position (right or left)-->


                            <div class="timeline-content left">
                                <h2>Tata Consultancy Services (TCS)</h2>


                                <p>Worked for the client :<span>AIG</span>.
                                    Involved in:
                                    1. Implementing <span>CI/CD</span> for the projects for the seamless delivery and <span>reduction of regression bugs by around 60%</span>.
                                    2. End to End automation of website and have <span>reduced the manual effort by 70% for regression</span>.
                                    3. <span>API automation</span> using Karate and <span>UI automation</span> using Selenium and making it feasible to <span> run in Jenkin pipeline</span>.
                                </p>
                            </div>
                        </div>
                        <!-- /Timeline Item-->
                        <!-- Timeline Item, copy from here to create various boxes -->


                        <div class="timeline-item">
                            <!--Icon inside the circle-->


                            <div class="timeline-icon">
                                <i class="fa fa-star"></i>
                            </div>
                            <!-- Content from timeline box and position (right or left)-->


                            <div class="timeline-content right">
                                <h2>Home Automation Based on Google Voice Assistant</h2>


                                <p>Control home appliances via <span>Google voice assistant</span> was developed using <span>MQTT, ADAFRUIT</span>
                                    .we primarily thought of making things easy to access so we used our own mobile to access
                                    things With this, things tend to appear very simple as we have made a perfect use of voice
                                    interface using Google assistance with which we can remotely control things around us with
                                    a simple voice command.
                                    We used some applets from <span>IFTT</span> that made our approach very simple <span> Secured 3
                                    rd place among 45 teams at State Level Project Expo conducted at JNTU- Hyderabad</span></p>
                            </div>
                        </div>
                        <!-- /Timeline Item-->
                        <!-- Timeline Item, copy from here to create various boxes -->


                        <div class="timeline-item">
                            <!--Icon inside the circle-->


                            <div class="timeline-icon">
                                <i class="fa fa-star"></i>
                            </div>
                            <!-- Content from timeline box and position (right or left)-->


                            <div class="timeline-content left">
                                <h2>Image Recognition based solution for a Classroom Attendance</h2>


                                <p>Developed an attendance capturing system for class rooms using <span>computer vision
                                    YoLov3 was algorithm</span> and achieved an <span>accuracy of 87% Model Training was developed using 1400 images</span> and deployed on Raspberry-Pi connected
                                    to a camera using python It was <span>cost effective</span> than the regular RFID based identity cards and also proved useful in
                                    preventing (misuse of RFID)</p>
                            </div>
                        </div>
                        <!-- /Timeline Item-->
                        <!-- Timeline Item, copy from here to create various boxes -->


                        <div class="timeline-item">
                            <!--Icon inside the circle-->


                            <div class="timeline-icon">
                                <i class="fa fa-star"></i>
                            </div>
                            <!-- Content from timeline box and position (right or left)-->


                            <div class="timeline-content right">
                                <h2>Women Safety Glove using BEACON</h2>


                                <p>Created a device which uses <span>self-defence mechanism</span> to generate shock to faint a person
                                    The implemented beacon system sends SOS flash message to people nearby and sends an
                                    SOS alert message to police and her family members using GSM technology <span>Secured 2
                                    nd place among 54 teams conducted by JNTU-HUB Among top 30 teams in the hackathon conducted by Telangana State Police</span></p>
                            </div>
                        </div>
                        <!-- /Timeline Item-->
                    </div>
                    <!-- /col-md-12 -->
                </div>
                <!-- /row -->
            </div>
        </div> <!-- / container -->
    </section>
    <!-- FOOTER SECTION -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4 text-center">
                    <div class="social-footer">
                        <a href="http://www.twitter.com/varun_pintu_" target=
                        "_blank"><i class="fa fa-twitter"></i></a> <a href=
                        "http://www.instagram.com/varun_pintu_23" target=
                        "_blank"><i class="fa fa-instagram"></i></a> <a href=
                        "https://ca.linkedin.com/in/ramarthi-varun-58932a152 target=
                        "_blank"><i class="fa fa-linkedin"></i></a> <a href=
                        "http://www.github.com/varunpintu100" target=
                        "_blank"><i class="fa fa-github"></i></a>
                    </div> <!-- /social footer -->
                </div> <!-- /col-md-4 -->
            </div><!-- /row -->
        </div><!-- /container -->
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script>
    window.jQuery || document.write('<script src="../static/styles/js/jquery.min.js"><\/script>')
    </script>
    <script src="../static/styles/js/bootstrap.min.js">
    </script>
    <script src="../static/styles/js/scripts.js">
    </script>
</body>
</html>
