<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="../static/styles/css/main.css">
    </head>
    <body>
        <img src="../static/styles/images/welcome.jpg">
        <br>
        <form action="login" method="post">
            {% for message in get_flashed_messages()%}
            <p> {{message}} </p>
            {% endfor %}
            <br>
            <p>Enter Username :</p>
            <input type="text" name="username_input">
            <br>
            <br>
            <p>Enter Password :</p>
            <input type="password" name="password_input">
            <br>
            <input type="submit" value="Login" id="greet">
        </form>
        <a href='/register'>Not a existing user click here!!</a>
    </body>
</html>
