<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/styles/css/main.css">
        <title>SignUp</title>
    </head>
    <body>
        <img src="../static/styles/images/welcome.jpg">
        <h1>SignUp</h1>
        <br>
        <form action="register" method="post">
            <p>Enter your details</p>
            <br>
            <p>Enter Username :</p>
            <input type="text" name="username_input">
            <br>
            <br>
            <p>Enter Email id :</p>
            <input type="text" name="email_input">
            <br>
            <br>
            <p>Enter Password :</p>
            <input type="password" name="password_input">
            <br>
            <input type="submit" value="SignUp" id="Signup">
        </form>
    </body>
</html>
